@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-dmsans: var(--font-dmsans);
  --font-barlowcondensed: var(--font-barlowcondensed);
  --font-manrope: var(--font-manrope);
  --spacing-128: 32rem;
  --spacing-144: 36rem;
  --spacing-160: 40rem;

  --text-25xl: 1.65rem;
  --text-15xl: 1.4rem;

  --animate-menu-open: menu-open 200ms;
  --animate-menu-close: menu-close 200ms;
  --animate-theme-toggle-rotate: theme-toggle-rotate 200ms ease-in;

  --color-brown: hsl(38, 26%, 15%);
  --color-yellow: hsl(48, 100%, 52%);
  --color-dark-yellow: hsl(48, 100%, 40%);
  --color-sand: hsl(41, 44%, 92%);
  --color-tan: hsl(36, 100%, 30%);
  --color-ash: hsl(0, 0%, 7%);
  --color-dark-ash: hsl(0, 0%, 5%);
  --color-muted: hsl(0, 0%, 93%);
  --color-hover-muted: hsl(0, 0%, 70%);
  --color-border-sand: hsl(41, 44%, 85%);
  --color-inset-dark: hsl(0, 0%, 10%);
  --color-card: hsl(0, 0%, 9%);
  --color-card-border: hsl(0, 0%, 15%);

  --color-selection-yellow: hsla(48, 100%, 52%, 0.7);
}

@keyframes menu-open {
  from {
    opacity: 0;
    scale: var(--text-xs);
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    scale: var(--text-4xl);
    transform: translateX(0) translateY(0);
  }
}

@keyframes menu-close {
  from {
    opacity: 1;
    scale: var(--text-4xl);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    scale: var(--text-xs);
    transform: translateX(10px) translateY(0);
  }
}

@keyframes theme-toggle-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply transition-colors duration-200 ease-in-out;
  }
}
